
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap');
        

.App {
    position: relative;
    min-height: 100vh;
    background-color:#F1F1F1 ;
    font-family: 'Cutive Mono';
    overflow: hidden;
}

